<mat-card-header>
    <h3>Create a New Listing</h3>
</mat-card-header>
<mat-card-content class="content">
    <form (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field>
                <mat-label>Listing Name</mat-label>
                <input matInput name="email" [(ngModel)]="name" required>
            </mat-form-field>
        </p>    
        <mat-form-field>
            <mat-label>Listing Description</mat-label>
            <textarea matInput name="message" [(ngModel)]="description" rows="5" cols="5">
            </textarea>
        </mat-form-field>
        <mat-card-actions class="btns">
            <button mat-button class="btn" type="submit">Save</button>
        </mat-card-actions>
    </form>    
</mat-card-content>
