.listings {
    margin-bottom: 8px;
    text-align: center;
}
.list-item {
    background-color: lightgray;
    margin: 2rem;
    width: auto;
    border-radius: 0.3rem;
}
.no-decor {
    text-decoration: none;
}