<mat-card-header>
    <h3>Send the Owner a message!</h3>
</mat-card-header>
<mat-card-content class="content">
    <p>
        <mat-form-field>
            <mat-label>Your email address</mat-label>
            <input matInput name="email" [(ngModel)]="email" required>
        </mat-form-field>
    </p>    
    <mat-form-field>
        <mat-label>Message</mat-label>
        <textarea matInput name="message" [(ngModel)]="message" rows="5" cols="5">
        </textarea>
    </mat-form-field>
    <mat-card-actions class="btns">
        <button mat-button class="btn" (click)="sendMessage()">Send</button>
    </mat-card-actions>
</mat-card-content>